header .dropdown-toggle::after {
    content: none;
}

header .btn {
    border-radius: 50%;
    padding: 0;
    margin-left: 1rem;

}

#header #memberCenter-btn-icon-container {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}


#header #shoppingCart-btn-icon-container{
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}


header .bi {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    fill: currentColor;
}


header #user-button a {
    font-size: .8rem;
    font-weight: 500 !important;
    color: var(--gray-600);
}

header .dropdown-item:hover,
header .dropdown-item:focus {
    color: #16181b;
    text-decoration: none;
    background-color: var(--gray-200);
}
